@font-face {
    font-family: myFont;
    src: url(../fonts/douyuFont0-9.woff2);
}

@font-face {
    font-family: myFont2;
    src: url(../fonts/huxiaoboLOADING.woff2);
}

body {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #cceafd;
}

.flipH {
    transform: scaleX(-1);
}

.flipV {
    transform: scaleY(-1);
}

.flipVH {
    transform: scale(-1, -1);
}

.whole {
    margin: 0 auto;
    position: relative;
}

.scoreAnimate {
    position: absolute;
    z-index: 4;
}

.scAniText {
    font-weight: bold;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    font-family: myFont;
    color: #4c7fed;
}

.bgHead {
    position: absolute;
    z-index: 3;
}

.background {
    position: absolute;
    z-index: 1;
}

.bgKeyboard {
    display: flex;
    position: absolute;
    z-index: 2;
}

.mask {
    position: absolute;
    z-index: 2;
    background-color: #cceafd;
}

.pause,
.speedUp,
.dirControl,
.scoreContainer,
.tip,
.musicON,
.continue,
.again {
    position: absolute;
}

.key {
    position: absolute;
    z-index: 3;
}

.score {
    font-family: myFont;
    color: #9cd4ff;
}

.pausePanelContainer {
    position: relative;
    z-index: 5;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOverPanelContainer {
    position: relative;
    z-index: 5;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maxScore {
    visibility: hidden;
    position: absolute;
    font-family: myFont;
    color: #ffbfe5;
}

.currentScore {
    visibility: hidden;
    position: absolute;
    font-family: myFont;
    color: #9cd5ff;
}

.loadingContainer {
    background-color: #cceafd;
    position: absolute;
    z-index: 6;
}

.loadingImg {
    background-image: url(../assets/loading.png);
    position: absolute;
    z-index: 7;
}

.loadingText {
    position: absolute;
    z-index: 7;
    font-family: myFont2;
    color: #4c7fed;
}